<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Column</mat-label>
          <input matInput [(ngModel)]="column" name="line">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Row</mat-label>
          <input matInput [(ngModel)]="row" name="row">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Floor</mat-label>
          <input matInput [(ngModel)]="floor" name="floor">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <textarea matInput placeholder="Box's name" [(ngModel)]="boxName" name="boxName"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Hall Id</mat-label>
      <textarea matInput [(ngModel)]="hallId" name="hallId"></textarea>
    </mat-form-field>
  </p>
</form>

<button mat-raised-button color="primary" style="margin-left: 2%;" (click)="send()">Send</button>