<mat-form-field appearance="standard">
    <mat-label>Филтър по категория</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Напр. категория" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort style="width: 50vw;">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Име </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Количество </th>
        <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Категория </th>
        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
      </ng-container>
  
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Опции</th>
        <td mat-cell *matCellDef="let row">
          <button (click)="openDialog(row.id, row)" class="edit-img" mat-mini-fab color="warm"
            aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="removeProduct(row.id)" class="remove-img" mat-mini-fab color="warn"
            aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let e=index; columns: displayedColumns;" (mouseover)="onMouseOver(e)"
        [ngClass]="{'mat-elevation-z24' : e == mouseOverIndex, 'remove-background':e == mouseOverIndex}"
        (mouseout)="onMouseOver(-1)"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Няма налична стока "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [length]="theTotalElements" [pageSize]="thePageSize" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePage($event)" aria-label="Select page">
    </mat-paginator>
  </div>